
.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #343434;
  text-align: center;
}

.nav .tab {
  cursor: pointer;
  color: white;
  flex: 1;
  margin: 1em;
}