
@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway/static/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Raleway Thin";
  src: url("/fonts/Raleway/static/Raleway-Thin.ttf");
}

@font-face {
  font-family: "Raleway Light";
  src: url("/fonts/Raleway/static/Raleway-Light.ttf");
}

@font-face {
  font-family: "Raleway Bold";
  src: url("/fonts/Raleway/static/Raleway-Bold.ttf");
}

* {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
}

*:focus {
  outline: none;
}

body {
  padding: 1em;
  background-color: #2D2D2D;
}